@import "../fonts/bradobrei.css";
@import "../fonts/roboto.css";


body {
	font-family: 'Roboto';
}
h1, h2, h3, h4 {
	font-family: 'Bradobrei';
}
h2 {
	font-size: 24px;
}

h3 {
    font-size: 22px;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    background-color: transparent;
    border-radius: 4px;
    box-sizing: border-box;
    color: #555;
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    height: 48px;
    letter-spacing: 0.1rem;
    line-height: 48px;
    max-width: 250px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    width: 100%;
}


.button.button-primary, button.button-primary, input.button-primary[type="submit"], input.button-primary[type="reset"], input.button-primary[type="button"] {
    background-color: #1a1a1a;
    border-color: #1a1a1a;
    color: #fff;
    transition: all 0.3s;
}
.button.button-primary:hover, button.button-primary:hover, input.button-primary[type="submit"]:hover, input.button-primary[type="reset"]:hover, input.button-primary[type="button"]:hover, .button.button-primary:focus, button.button-primary:focus, input.button-primary[type="submit"]:focus, input.button-primary[type="reset"]:focus, input.button-primary[type="button"]:focus {
    background-color: #91007d;
    border-color: #91007d;
    color: #fff;
}
.text-center {
    padding-bottom: 2rem;
    text-align: center;
}

.header {
	background: url('../img/symphony.png');
}
.header h1 {
    background: #fff none repeat scroll 0 0;
    color: #a40d8a;
    font-size: 34px;
    line-height: 1.1em;
    margin: 20px auto;
    max-width: 220px;
    padding: 16px 30px;
    text-align: center;
    text-shadow: 2px 2px 1px #c8c8c8;
}
.section {
    padding: 10rem 0 10rem;
    text-align: center;
}

.first-block {
	background: #000;
	min-height: 20px;
}
/*
essential styles:
these make the slideshow work
*/
#slides{
	position: relative;
	height: 580px;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.slide{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;

	-webkit-transition: opacity 2s;
	-moz-transition: opacity 2s;
	-o-transition: opacity 2s;
	transition: opacity 2s;
}

.showing{
	opacity: 1;
	z-index: 2;
}



/*
non-essential styles:
just for appearance; change whatever you want
*/

.slide {
    background: #333 none repeat scroll 0 0;
    box-sizing: border-box;
    font-size: 40px;
    padding: 240px 40px 40px;
    text-align: center;
    color: #fff;
    font-family: 'Bradobrei';
}
.slide::before {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.slide:nth-of-type(1) {
    background: rgba(0, 0, 0, 0) url("../img/1slide.jpg") no-repeat scroll 0 0 / cover ;
}
.slide:nth-of-type(2){
	 background: rgba(0, 0, 0, 0) url("../img/2slide.jpg") no-repeat scroll 0 0 / cover ;
}
.slide:nth-of-type(3){
	 background: rgba(0, 0, 0, 0) url("../img/3slide.jpg") no-repeat scroll 0 0 / cover ;
}
.slide:nth-of-type(4){
	 background: rgba(0, 0, 0, 0) url("../img/4slide.jpg") no-repeat scroll 0 0 / cover ;
    }


/*Каталог сумок*/
.section.catalog {
    background-color: #F9FAFC;
/*background-image: url("data:image/svg+xml,%3Csvg width='56' height='28' viewBox='0 0 56 28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M56 26c-2.813 0-5.456.726-7.752 2H56v-2zm-26 2h4.087C38.707 20.783 46.795 16 56 16v-2c-.672 0-1.339.024-1.999.07L54 14a2 2 0 0 1 2-2v-2a4 4 0 0 0-3.98 3.602 28.087 28.087 0 0 0-2.793-3.862A7.994 7.994 0 0 1 56 6V4a9.988 9.988 0 0 0-8.17 4.232 28.156 28.156 0 0 0-3.03-2.634A13.979 13.979 0 0 1 56 0h-7.752a16.078 16.078 0 0 0-5.09 4.454 27.941 27.941 0 0 0-3.536-1.936c.63-.896 1.33-1.738 2.095-2.518H39.03c-.46.557-.893 1.137-1.297 1.737A27.787 27.787 0 0 0 33.723.585c.12-.196.24-.392.364-.585H30l-.001.07A28.406 28.406 0 0 0 26 .07L26 0h-4.087c.124.193.245.389.364.585a27.787 27.787 0 0 0-4.009 1.152c-.404-.6-.837-1.18-1.297-1.737h-2.688c.764.78 1.466 1.622 2.095 2.518-1.23.562-2.41 1.21-3.536 1.936A16.078 16.078 0 0 0 7.752 0H0c4.58 0 8.645 2.199 11.2 5.598a28.156 28.156 0 0 0-3.03 2.634A9.988 9.988 0 0 0 0 4v2a7.994 7.994 0 0 1 6.773 3.74 28.087 28.087 0 0 0-2.793 3.862A4 4 0 0 0 0 10v2a2 2 0 0 1 1.999 2.07C1.339 14.024.672 14 0 14v2c9.205 0 17.292 4.783 21.913 12H26a2 2 0 1 1 4 0zM7.752 28C5.456 26.726 2.812 26 0 26v2h7.752zM56 20c-6.832 0-12.936 3.114-16.971 8h2.688A19.94 19.94 0 0 1 56 22v-2zm-39.029 8C12.936 23.114 6.831 20 0 20v2a19.94 19.94 0 0 1 14.283 6h2.688zm15.01-.398a28.087 28.087 0 0 1 2.792-3.862A7.994 7.994 0 0 0 28 20a7.994 7.994 0 0 0-6.773 3.74 28.087 28.087 0 0 1 2.793 3.862 4 4 0 0 1 7.96 0zm14.287-11.865C42.318 9.864 35.61 6 28 6c-7.61 0-14.318 3.864-18.268 9.737a27.787 27.787 0 0 0-4.009-1.152C10.275 7.043 18.548 2 28 2c9.452 0 17.725 5.043 22.277 12.585a27.787 27.787 0 0 0-4.009 1.152zm-5.426 2.717a27.941 27.941 0 0 1 3.536-1.936C40.76 11.367 34.773 8 28 8s-12.76 3.367-16.378 8.518c1.23.562 2.41 1.21 3.536 1.936C18.075 14.537 22.741 12 28 12s9.925 2.537 12.842 6.454zm-4.672 3.778a28.156 28.156 0 0 1 3.03-2.634A13.979 13.979 0 0 0 28 14c-4.58 0-8.645 2.199-11.2 5.598a28.156 28.156 0 0 1 3.03 2.634A9.988 9.988 0 0 1 28 18a9.988 9.988 0 0 1 8.17 4.232z' fill='%23d7d7d7' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
*/
}

.percentage::before {
    background: rgba(0, 0, 0, 0) -webkit-gradient(linear, right top, left top, from(rgba(196, 55, 102, 0.78)), to(rgba(28, 37, 102, 0.88))) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to left, rgba(196, 55, 102, 0.78), rgba(28, 37, 102, 0.88)) repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.percentage {
    background: rgba(0, 0, 0, 0) url("/img/violet1.jpg") no-repeat scroll 0 0 / cover ;
    color: #ffffff;
    position: relative;
}
.calculate::before {
    background: rgba(0, 0, 0, 0) -webkit-gradient(linear, right top, left top, from(rgba(196, 55, 102, 0.78)), to(rgba(28, 37, 102, 0.88))) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to left, rgba(196, 55, 102, 0.78), rgba(28, 37, 102, 0.88)) repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.calculate {
    background: rgba(0, 0, 0, 0) url("/img/calc_bg.jpg") no-repeat scroll 0 0 / cover ;
    position: relative;
}

.calculate_block {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 1px 1px 43px rgba(0, 0, 0, 0.67);
    padding: 50px;
}

.cat-row {
    margin-bottom: 40px;
}

.image {
    border: 1px solid #d7d7d7;
    height: auto;
    margin-bottom: 20px;
    overflow: hidden;
}

.image img {
    height: 250px;
    object-fit: contain;
    width: 250px;
}
.item-card {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-bottom: 20px;
    padding: 20px;
    transition: all 0.2s linear 0s;
}
.item-card:hover {
    box-shadow: 0 1px 37px rgba(0, 0, 0, 0.2), 0 1px 5px rgba(0, 0, 0, 0.15);

}

.price {
    font-size: 24px;
}

.button.button-primary.buy_oneclick {
    padding: 0 40px;
}
/*Обратная связь*/
#feedback {
    background: url('/img/feedback.jpg');
}

/*Контакты*/
.telmail {
    font-size: 19px;
    padding-top: 20px;
}
/*Футер*/

.footer-below {
    background-color: #233140;
    padding: 25px 0;
    color: #fff;
}

/*Модальное окно*/
#modal_form {
    max-width: 300px; 
    height: auto; /* Рaзмеры дoлжны быть фиксирoвaны */
    border-radius: 5px;
    border: 3px #000 solid;
    background: #fff;
    position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
    top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
    left: 46%; /* пoлoвинa экрaнa слевa */
    margin-top: -150px;
    margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
    display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
    opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
    z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
    padding: 20px 10px;
}
/* Кнoпкa зaкрыть */
#modal_form #modal_close {
    cursor: pointer;
    display: block;
    font-size: 32px;
    height: 21px;
    line-height: 0.7;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 21px;
}

#order, #modal_form p {
    margin-bottom: 0;
}
#order .button-primary {
max-width: 100%;
}
/*Спасибо*/
#thanks > p {
    text-align: center;
}
/* Пoдлoжкa */
#overlay {
    z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
    position:fixed; /* всегдa перекрывaет весь сaйт */
    background-color:#000; /* чернaя */
    opacity:0.8; /* нo немнoгo прoзрaчнa */
    -moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
    filter:alpha(opacity=80);
    width:100%; 
    height:100%; /* рaзмерoм вo весь экрaн */
    top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
    left:0;
    cursor:pointer;
    display:none; /* в oбычнoм сoстoянии её нет) */
}

/*Media Queries*/
@media (max-width: 400px) {
h2 {
font-size: 16px;
}
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
font-size: 14px;
width: 100%;
}
#slides {
height: 200px;
}
.slide {
background: #333 none repeat scroll 0 0;
box-sizing: border-box;
color: #fff;
font-family: "Bradobrei";
font-size: 22px;
padding: 80px 40px 40px;
text-align: center;
}
.item-card p, .item-card h3 {margin-bottom: 0.5rem;}
.item-card h3 {font-size: 19px;}

}